body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    border-style: solid;
    border-width: 1px;
}

.calculator {
    height: 800px;
    width: 700px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 10px;
    gap: 10px;
}

.calculator-screen {
    background-color: bisque;
    flex-grow: 1;
    flex-basis: 120px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.calculator-numpad {
    background-color:burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 5;
    font-size: 20px;
}

.calculator-numpad.numeric-keys {
    flex-direction: row;
    height: 400px;
    border: none;
    margin-bottom: 5px;
}

.calculator-numpad.number-keys {
    border: none;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 395px;
    gap: 5px;
}

.calculator-numpad.number-key {
    background-color: bisque;
    flex-basis: 130px;
}

.calculator-numpad.number-key-zero {
    background-color: bisque;
    flex-basis: 200px;
}

.calculator-numpad.decimal-key {
    background-color: bisque;
}

.calculator-numpad.operator-keys {
    border: none;
    gap: 5px;
    margin-left: 5px;
}

.calculator-numpad.operator-key {
    background-color: bisque;
}


.calculator-numpad.control-keys {
    flex-direction: row;
    border: none;
    margin-top: 0px;
    gap: 5px;
}

.calculator-numpad.control-key{
    background-color: bisque;
}

